:root {
    --color-brand-normal: #80B3EF;
    --color-brand-light: #A7C8EF;
    --color-brand-gray-blue: #D8E7F8;
    --color-brand-dark: #39597F;
    --color-brand-secondary: #F48452;
    --color-white: #FFFFFF;
    --color-white-gray: #F5F1EF;
    --color-transparent: transparent;
}