h1,
h2,
h3,
p {
    font-weight: 500;
    margin: 0;
}

h4 {
    margin: 0px;
    font-weight: 400;
}

* {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 400;
    font-size: 24px;
}