.home-page-main {
    width: 1397.67px;
    height: 510px;
    position: relative;
}

.home-page-photo-1 {
    background-image: url('../images/home-page/home-page-photo-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1397.67px;
    height: 741px;
    z-index: 0;
    transform: translate(0, -250px);

}


h2 {
    color: var(--color-brand-dark);
    font-size: 40px;
    font-weight: 750;
}

.day-student {
    position: absolute;
    left: 100px;
    bottom: 100px;
}