.video-image {
    background-image: url("../images/video-image.jpg");
    height: 647px;
    width: 1440px;
    margin-top: 62px;
}

.form-video-image {
    background-image: url("../images/form-video-image.png");
    height: 227px;
    width: 615px;
    transform: translate(0, 420px)
}

.welcome {
    font-size: 40px;
    font-weight: 700;
    color: var(--color-brand-dark);
    z-index: 0;
    padding: 108px 118px;
}

.video-button {
    display: flex;
    justify-content: center;
}